.footer{
  
  margin: 0 auto;
  background: #2563eb;
  color: #fff;
text-align: center;
  border-radius: 0;
  padding: 12px 0;   /* added padding for spacing */
  position: relative; /* avoids overlap */
  bottom: 0;
  display: block;
  justify-content: center;
  align-items: center;

}




/* Responsive styles */
@media (max-width: 768px) {
  .admin-footer {
    font-size: 12px;
    padding: 20px 0;  
  }
}
